$footer-bg-color: #26266d;
$footer-text-color: white;
$footer-padding: 20px;
$logo-width: 150px;
$logo-margin-right: 20px;

body {

    .footer {
        background-color: $footer-bg-color;
        color: $footer-text-color;
        padding: $footer-padding 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    .logo {
        width: $logo-width;
        height: auto;
        margin-right: $logo-margin-right;
    }

    .company-info {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        text-align: right;
    }

}

